@font-face{
	font-family:'Roboto Condensed';
	src:url(font/RobotoCondensed-Regular.ttf)
}@font-face{
	font-family:'Roboto Condensed Light';
	src:url(font/RobotoCondensed-Light.ttf)
}@font-face{
	font-family:'Roboto Light';
	src:url(font/Roboto-Light_1.ttf)
}
* {
	font-family: 'Roboto Condensed';
	margin: 0;
	font-size: 18px;
	
}
a, a:visited, a:active {
	color: #0090ff;
	text-decoration: none;
}

body{
	background-color: #efeff4;
	min-width: 300px;
}
.page1, .page2Field{
	display: flex;
	flex-wrap: wrap;
	transition: .2s;
}

.aggregateTarifField, .tarifField, .tarifBlankField{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin: 20px 0px;
	background-color: white;	
	display: flex;
    flex-direction: column;
    justify-content: space-between;
	position: relative;
	transition: .2s;
}
.tarifBlankField{
	display: none;
}
.aggregateTarifField:hover, .tarifField:hover{
	box-shadow: 0px 0px 12px 0px rgba(100,100,100,.4);
}
.aggregateTarifField > div, .tarifField > div{
	margin-left: 20px;
}

.tarifFieldHead{
	font-size: 19px;
	color: #82c12b;
	padding: 10px 0px;
	border-bottom: 1px solid #ccc;
	background-color: white;
}

.tarifFieldBody{
}

.tarifFieldBodyFlex{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.tarifFieldBodyFlexLeft > div{
	margin: 8px 0px;
}
.tarifFieldBodyFlexRight{
	width: 26px;
}
.tarifFieldBodyFlexRight:after{
	content: "";
	display: block;
	width: 8px;
	height: 8px;
	border-top: 2px solid #ccc;
	border-right: 2px solid #ccc;
	transform: rotateZ(45deg);
	position: absolute;
    right: 10px;
    top: 50%;
	margin-top: -5px;
}
.tarifFieldBodyFlexRightPage2:after{
	content: "";
	display: block;
	width: 8px;
	height: 8px;
	border-top: 2px solid #ccc;
	border-right: 2px solid #ccc;
	transform: rotateZ(45deg);
	position: absolute;
    right: 10px;
    top: calc((100% + 1em + 22px)/2);
	margin-top: -5px;
}
.tarifFieldBodyFlexLeftSpeed{	
    position: relative;
	display: inline-block;
    left: -20px;
    padding: 6px 8px 6px 20px;
	font-weight: bold;
	color: white;
}
.tarifFieldBodyFlexLeftCost{
	font-weight: bold;
}

.tarifFieldBodyFlexLeftCostInfo{
	font-size: 15px;
	line-height: 1em;
}
.tarifFieldBodyFlexLeftOther{
	font-size: 15px;
	line-height: 1em;
	color: #888;
}

.tarifFieldFooter > a, .tarifFieldFooter > p{
	display: grid;
	border-top: 1px solid #ccc;
	padding: 10px 0px;
	font-size: 16px;
}
.page2{
	display: none;
	opacity: 0;
	transition: .2s;
}

.page3{
	display: none;
	opacity: 0;
	transition: .2s;
    justify-content: center;
	flex-direction: column;
}
.page3Field{
	display: flex;
    justify-content: center;
}
.tarifBackButton{
	position: relative;
	text-align: center;
	background-color: #f7f7f7;
	border-bottom: 1px solid #ccc;
	padding: 10px 0px;	
}
.tarifBackButton:after{
	content: "";
	display: block;
	width: 8px;
	height: 8px;
	border-top: 2px solid #82c12b;
	border-right: 2px solid #82c12b;
	transform: rotateZ(-135deg);
	position: absolute;
    left: 10px;
    top: 50%;
	margin-top: -5px;
}

.tarifFieldFooter > p{
    display: block;
	padding-right: 20px;
}

.agreeWithTarif{
	width: 100%;
	margin-right: 10px;
	padding: 8px;
	border: 1px solid #82a44a;
	background-color: #82c12c;
	color: white;
	outline: none;
}
.agreeWithTarif:active{
	background-color: #779f41;
	
}





@media (max-width: 639px){
	.page1, .page2Field, .page3Field{
		display: block;
	}
	
	.aggregateTarifField, .tarifField{
		display: block;
		margin: 20px 00px;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
	}	
}
@media (min-width: 640px){
	.aggregateTarifField, .tarifField{
		margin: 10px;
		border: 1px solid #ccc;
		width: calc(50% - 24px);
	}	
}
@media (min-width: 1024px){
	.aggregateTarifField, .tarifField{
		margin: 10px;
		border: 1px solid #ccc;
		width: calc(100vw / 3 - 22px);
	}	
}

.aggregateAnimateHead{
	font-size: 19px;
	color: #82c12b;
	display: block;
	margin: 21px 0px 0px 31px;
}






